*, html {
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    height: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    padding: 20px;
    overflow: hidden;
    align-items: stretch;
    align-content: stretch;
}

h1, h2 {
    font-size: 4vh;
    max-width: 100%
}

#dutch {
    margin: 0 auto;
    margin: 10%;
    border: 5px solid #8BC34A;
    padding: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

#result {
    height: 50px;
}

ul {
    list-style-image: none;
    list-style: none;
    text-align: center;
    margin: 0% 10%;
}

li {
    box-sizing: border-box;
    padding: 20px;
    font-size: 4vh;
    border: 5px solid #607D8B;
    margin: 5px;
    text-transform: capitalize;
}

@media (min-width: 768px)  {
    body {
        max-width: 40%;
        margin: 0 auto;
    }
}